<h3>New Post</h3>
<div class="mb-3">
    <label for="inputTitle" class="form-label">Title</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Title">
</div>
<div class="mb-3">
    <label for="inputContent" class="form-label">Post</label>
    <textarea class="form-control" id="inputContent" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>